* {
    margin: 0;
    padding: 0;
}



body {

    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.9)), url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.7) 20%,
            rgba(0, 0, 0, 0.4) 60%,
            rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

img {
    margin-left: 50px;
    padding: 0px 0px 0px 0;
    position: relative;
    z-index: 2;
    filter: brightness(1);
    width: 170px;
    height: auto;
}

.header {
    margin: 0px;
    padding: 0px 0px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    z-index: 10;
    filter: brightness(1);
}

#box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 120px;
    position: relative;
    z-index: 2;
    filter: brightness(1);
}

#Language {
    width: 90px;
    background-color: rgba(46, 43, 43, 0.088);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(133, 128, 128, 0.497);
    border-radius: 3px;
    padding: 5px 8px;
    border-radius: 3px;
    font-weight: bold;
}

#Language:hover {
    background-color: rgba(0, 0, 0, 0.671);

}

button {
    width: 70px;
    height: 28px;
    background-color: red;
    border-radius: 3px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

main {
    padding-top: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}

h3 {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}

p {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

input {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(133, 128, 128, 0.497);
    background-color: rgba(0, 0, 0, 0.071);
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
}

#Get {
    width: 200px;
    height: 50px;
    background-color: red;
    border-radius: 2px;
    color: #fff;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 23px;
    margin-left: 10px;
}

.line {
    width: 99.5%;
    height: 1.5PX;
    left: -25%;
    border: 4px solid red;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    border: solid .25px transparent;
    unicode-bidi: isolate;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 44rem;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 35px;
        padding: 0 20px;
        text-align: center;
    }

    h3 {
        margin: 10px 10px;
        font-size: 20px;
        padding: 0 20px;
        text-align: center;
    }

    p {
        margin: 10px 10px;
        padding: 0 20px;
        text-align: center;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        padding: 10px 20px;
    }

    img {
        margin-left: 0;
        width: 120px;
    }

    main .boxx {
        margin-top: 100px;
        gap: 35px;
        display: grid;
        align-items: center;
        justify-content: center;


    }

    main input {
        margin: 10px 0;
        width: 320px;
        height: 30px;
        font-size: 19px;
    }
    #Get {
        margin: 10px 0px;
        width: 190px;
        height: 40px;
        font-size: 20px;
        margin-left: 0;
    }

    .line {
        margin-top: 800px;
    }
}